{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb"],
  "plugins": [
    "react",
    "react/recommended"
  ],
  "rules": {
    no-shadow: ["error", {"allow": ["store"] }]
  }
}